page-home {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
    h2{
      font-family: 'Roboto Slab', serif;
    }

    .fondo-negro{
      background-color: #171717;
    }

    // MENU
    .my-custom-menu {
      --width: 500px;
    }


    ion-card .signo{
      height: 50%;
      width: auto;
    }

    .card-title {
      position: absolute;
      top: 0%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      bottom: 0%;
      width: 100%;
      color: #000;
    }

    .fondo-content{
      background-color: #000;
    }
  }
}
