<ion-header>
  <ion-navbar color="dark">
    
  </ion-navbar>
</ion-header>



<ion-content padding>
  <h3>{{ carta.nombre }}</h3>
  <h6 class="transcripcion">{{ carta.transcripcion }}</h6>

  <ion-list>
    <img [src]="carta.imagen" alt="">

  </ion-list>

  <div>
    <button ion-button
            item-end
            icon-end
            style="border-radius:100px; width:90%; margin-top:20px; position:absolute; bottom:0px"
            (click)="reproducir()"
            color="dark"
            *ngIf="!carta.reproduciendo"
            class="btn-reproducir">
      Reproducir
      <ion-icon name="play"></ion-icon>
    </button>

    <button ion-button
            item-end
            icon-end
            style="border-radius:100px; width:90%; margin-top:20px; position:absolute; bottom:0px"
            (click)="pausarAudio()"
            color="dark"
            *ngIf="carta.reproduciendo"
            class="btn-reproducir">
      Pausar
      <ion-icon name="pause"></ion-icon>
    </button>
  </div>

</ion-content>

















<!-- Boton redes sociales -->
  <!-- <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="people"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-whatsapp"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-instagram"></ion-icon></button>
      <button ion-fab><ion-icon name="globe"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->

  <!-- Boton volver -->
